.row
  .col-lg-12
    h1.page-header Search for Peeps
    label Tweet to All: 
      input(type='text', ng-model='message')

    hr
    .col-lg-3
      form
        label Name:
          input(type='text', ng-model='search.name')
        br
        label Gender:
          input(type='radio', ng-model='search.gender', value='')
          | Any
          input(type='radio', ng-model='search.gender', value='M', ng-init="search.gender = ''")
          | Male
          input(type='radio', ng-model='search.gender', value='F')
          | Female
        br
        label Political Affliliation:
          input(type='radio', ng-model='search.party', value='', ng-init="search.party = ''")
          | Any
          input(type='radio', ng-model='search.party', value='D', ng-init="search.party = ''")
          | Democrat
          input(type='radio', ng-model='search.party', value='R')
          | Republican
        br
        label State:
          select(ng-model='search.state')
            option(ng-repeat="state in states", value="{{state}}")
              {{state}}
        br
        label Chamber:
          input(type='text', ng-model='search.chamber')
        br
          


    .col-lg-9
      .col-lg-3.col-md-4.col-xs-6.thumb(ng-repeat='person in people | filter:{name: search.name, party: search.party, state: search.state, gender: search.gender, chamber: search.chamber}')
        label Message: 
          input(type='text', ng-model='message')
          button.btn-primary(type="submit") Send
        .thumbnail(ng-show="!form")
          img.img-responsive(src='http://placehold.it/400x300')
          //{{person.img_url}}
          p {{person.name}}
          button.btn(ng-click='form = true') Tweet
        form.thumbnail(width="400", height="300", ng-submit='posttweet(person.twitter_id, message); form = false', ng-show="form")
          label Message: 
            input(type='text', ng-model='message')
          button.btn-primary(type="submit") Send
