.row
  .col-lg-12
    h1.page-header Search for Peeps
    form.thumbnail(ng-submit='posttweet(message)')
      label Tweet to All: 
        input(type='text', ng-model='message')
      button.btn-primary(type="submit") Send
    hr
    .col-lg-3
      form(ng-submit="submit()")
        label Gender:
          input(type='radio', ng-model='search.gender', value='')
          | Any
          input(type='radio', ng-model='search.gender', value='M')
          | Male
          input(type='radio', ng-model='search.gender', value='F')
          | Female
        br
        label Political Affliliation:
          input(type='radio', ng-model='search.party', value='')
          | Any
          input(type='radio', ng-model='search.party', value='D')
          | Dem
          input(type='radio', ng-model='search.party', value='R')
          | Rep
        br
        label State:
          select(ng-model='search.state')
            option(ng-repeat="state in states", value="{{state}}")
              {{state}}
        br
        label Chamber:
          input(type='text', ng-model='search.chamber')
        br
        button.btn-primary(type="submit") Submit

    .col-lg-9
      p(ng-show="loading") Loading...
      .col-lg-3.col-md-4.col-xs-6.thumb(ng-repeat="person in people") 
        //| filter:{name: search.name||'', party: search.party||'', state: search.state||'', gender: search.gender||'', chamber: search.chamber||''}"
        .thumbnail(ng-show="!form")
          img.img-responsive(src='http://placehold.it/400x300')
          //{{person.img_url}}
          p {{person.name}}
          button.btn(ng-click='form = true') Tweet
        form.thumbnail(width="400", height="300", ng-submit='posttweet(message, person); form = false', ng-show="form")
          label Message: 
            input(type='text', ng-model='message')
          button.btn-primary(type="submit") Send
