//p This is the partial for view 1.
//p Name: 
//input(type='text', ng-model='query')
//button(ng-model='query', ng-click='search()') Search
//p {{query}}
//p(ng-repeat='person in people') {{person.first_name}} {{person.last_name}}

form
    label Name: 
      input(type='text', ng-model='search.name')
    br
    label Gender: 
      input(type='radio', ng-model='search.gender', value='M', ng-init="search.gender = ''")
      | Male
      input(type='radio', ng-model='search.gender', value='F')
      | Female
    br
    label Political Affliliation: 
      input(type='radio', ng-model='search.party', value='D', ng-init="search.party = ''")
      | Democrat
      input(type='radio', ng-model='search.party', value='R')
      | Republican
    br
    label State: 
      input(type='text', ng-model='search.state') 
    //label State: 
    //  input(type='text', ng-model='search.state')
p(ng-repeat='person in people | filter:{name: search.name, party: search.party, state: search.state, gender: search.gender}') {{person.first_name}} {{person.last_name}}

// so make a input box apear here to send a tweet