!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Tweet The Press - Connect with your reps
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
